.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}
.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}
@media (max-width: 1200px) {
  .container-right {
    padding-left: var(--container-padding);
  }
}
