.footer {
  background: var(--white);
  padding-top: 60rem;
  padding-bottom: 60rem;
  &__container {
    display: flex;
    flex-direction: column;

    gap: 40rem;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20rem;

    &-title {
      color: var(--black);

      font-size: 16rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 20rem;
    }

    &-descr {
      color: var(--black);

      font-size: 16rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
    }

    &-link {
      color: var(--primary);

      font-size: 16rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      text-decoration-line: underline;
      width: fit-content;
      transition: 0.3s ease;
      &:hover {
        color: var(--primary-hover);
      }
      &:focus {
        color: var(--primary-focus);
        outline: 1rem solid var(--primary-focus);
        outline-offset: 2rem;
      }
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30rem 40rem;
    color: var(--black);

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 20rem;
      svg {
        width: 24rem;
        height: 24rem;
        flex-shrink: 0;
      }

      &__wrap {
        display: flex;
        flex-direction: column;
        gap: 10rem;

        a {
          transition: 0.3s ease;
          &:hover {
            color: var(--primary-hover);
          }
          &:focus {
            color: var(--primary-focus);
            outline: 1rem solid var(--primary-focus);

            outline-offset: 2rem;
          }
        }
      }

      &__title {
        color: #6e7176;

        font-size: 16rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
      }

      &__tel {
        display: flex;
        flex-direction: column;
        gap: 10rem;
      }

      &__text {
        color: var(--black);

        font-size: 20rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__logo {
    width: 298rem;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  &__item {
    &-link {
      color: var(--black);

      font-size: 16rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      transition: 0.3s ease;
      &:hover {
        color: var(--primary);
      }
      &:focus {
        color: var(--primary-focus);
        outline: 1rem solid var(--primary-focus);
        outline-offset: 2rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 36rem;
      justify-content: space-between;
      align-items: center;
    }

    &__top {
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 2;
      grid-column-end: 2;
    }
    &__info {
      grid-row-start: 2;
      grid-column-start: 1;

      grid-row-end: 3;
      grid-column-end: 2;
    }

    &__contacts {
      max-width: 754rem;
      height: fit-content;
      width: 100%;
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 3;
      grid-column-end: 3;
      grid-row: span 2;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__top {
      order: 1;
    }
    &__info {
      order: 3;
    }
    &__contacts {
      order: 2;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 36rem;
    padding-bottom: 36rem;

    &__container {
      gap: 30rem;
    }
    &__top {
      gap: 10rem;
    }
    &__logo {
      max-width: 208rem;
    }
    &__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 10rem;
    }

    &__item {
      &-link {
        font-size: 14rem;
        text-transform: none;
      }
    }

    &__info {
      gap: 10rem;
      &-title {
        font-size: 14rem;
      }
      &-descr,
      &-link {
        font-size: 14rem;
      }
    }
    &__contacts {
      grid-template-columns: auto;
      gap: 10rem;
      &-item {
        gap: 16rem;
        svg {
          width: 20rem;
          height: 20rem;
        }

        &__title {
          display: none;
        }
        &__tel {
          gap: 5rem;
        }
        &__text {
          font-size: 14rem;
          max-width: 244rem;
        }
      }
    }
  }
}
