.stages {
  &__title {
    &::before,
    &::after {
      width: 171rem;
    }

    &-br {
      display: none;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;

    margin-bottom: 60rem;

    &-btn {
      font-size: 20rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 26px */

      border-radius: 12rem;
      border: 1rem solid var(--white);
      padding: 17rem 40rem;

      transition: 0.3s ease;

      &.active {
        color: var(--black);
        background-color: var(--white);
        box-shadow: 0rem 0rem 18rem 0rem rgba(255, 255, 255, 0.31);
      }

      &:hover {
        color: var(--black);
        background-color: var(--white);
        box-shadow: 0rem 0rem 18rem 0rem rgba(255, 255, 255, 0.31);
      }
    }
  }

  &__content {
    display: none;

    gap: 78rem;

    &.active {
      display: flex;
    }

    &-img {
      max-width: 742rem;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 16rem;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 30rem;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 20rem;
      position: relative;
      --arrow-opacity: 0;

      &__arrow {
        position: absolute;
        left: -20rem;
        top: 50%;
        transform: translateY(10%);
        width: 20rem;
        height: 74rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='72' viewBox='0 0 12 72' fill='none'%3E%3Cpath d='M11 1.5C11.2761 1.5 11.5 1.27614 11.5 1C11.5 0.723858 11.2761 0.5 11 0.5V1.5ZM11.3536 68.3536C11.5488 68.1583 11.5488 67.8417 11.3536 67.6464L8.17157 64.4645C7.97631 64.2692 7.65973 64.2692 7.46447 64.4645C7.2692 64.6597 7.2692 64.9763 7.46447 65.1716L10.2929 68L7.46447 70.8284C7.2692 71.0237 7.2692 71.3403 7.46447 71.5355C7.65973 71.7308 7.97631 71.7308 8.17157 71.5355L11.3536 68.3536ZM0.5 11V58H1.5V11H0.5ZM0.5 58C0.5 63.799 5.20101 68.5 11 68.5V67.5C5.7533 67.5 1.5 63.2467 1.5 58H0.5ZM11 0.5C5.20101 0.5 0.5 5.20101 0.5 11H1.5C1.5 5.75329 5.7533 1.5 11 1.5V0.5Z' fill='%23CFA56F'/%3E%3C/svg%3E");
      }
      &__step {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54rem;
        height: 54rem;
        border-radius: 50%;
        border: 1rem solid #32373f;

        flex-shrink: 0;

        color: var(--primary);

        font-size: 24rem;
        font-style: italic;
        font-weight: 400;
        line-height: 130%; /* 31.2px */
        letter-spacing: 1.2rem;
        text-transform: uppercase;
      }

      &__title {
        color: var(--medium-gray);

        font-size: 20rem;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 26px */

        max-width: 511rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .stages {
    &__title {
      &::before,
      &::after {
        width: 130rem;
      }
      &-br {
        display: block;
      }
    }

    &__content {
      gap: 50rem;

      &-img {
        max-width: 520rem;
      }

      &-list {
        gap: 20rem;
      }

      &-item {
        &__arrow {
          height: 56rem;
        }
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .stages__content-building .stages__content-img img {
    object-position: -180rem 0;
  }
}
@media (max-width: 767px) {
  .stages {
    &__title {
      &::before,
      &::after {
        top: 26%;
        width: 70rem;
      }
    }

    &__tabs {
      gap: 12rem;

      margin-bottom: 20rem;

      justify-content: flex-start;
      padding-bottom: 5rem;

      &-btn {
        font-size: 14rem;

        padding: 12rem;
        white-space: nowrap;
      }
    }

    &__content {
      flex-direction: column-reverse;
      gap: 32rem;

      &-img {
        height: 233rem;
        width: 100%;
        max-width: 100%;

        img {
          border-radius: 8rem;
        }
      }

      &-list {
        gap: 16rem;
        padding-left: 20rem;
      }
      &-item {
        display: flex;
        align-items: center;
        gap: 16rem;
        position: relative;

        &__arrow {
          height: 42rem;
        }

        &__step {
          width: 40rem;
          height: 40rem;

          font-size: 20rem;

          letter-spacing: 1rem;
        }

        &__title {
          font-size: 14rem;

          max-width: 100%;
        }
      }
    }
  }

  .stages__content-secondary .stages__content-item:not(:last-of-type) {
    &::before {
      height: 57rem;
    }
  }
}
