.faq {
  &__title {
    &::before,
    &::after {
      width: 269rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    border-radius: 8rem;
    background: var(--gray-2);
    overflow: hidden;

    transition: 0.3s ease;

    &.active {
      background: var(--white);

      box-shadow: 0rem 0rem 18rem 0rem rgba(255, 255, 255, 0.31);
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20rem;
      padding: 20rem 30rem;
      font-family: var(--second-family);
      font-size: 20rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1rem;
      text-transform: uppercase;
      cursor: pointer;

      &:after {
        content: "";
        display: inline-block;
        width: 32rem;
        height: 32rem;
        flex-shrink: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M6.66669 16.0001H25.3334M16 6.66675V25.3334' stroke='%23CFA56F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.3s ease;
      }
    }
  }
}

.faq-item__answer {
  color: var(--black);
  font-size: 20rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 26px */

  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.4s ease, visibility 0.6s ease, opacity 0.1s ease;
}

.faq-item.active .faq-item__answer {
  height: auto;
  visibility: visible;
  opacity: 1;
  padding: 20rem 30rem;
  padding-top: 0;
}

.faq-item.active .faq-item__title {
  color: var(--black);
}

@media (max-width: 767px) {
  .faq {
    &__title {
      &::before,
      &::after {
        width: 30rem;
      }
    }
    &-item {
      &__title {
        align-items: flex-start;
        gap: 16rem;
        padding: 16rem;
        font-size: 14rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.7rem;
      }

      &__answer {
        font-size: 12rem;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 15.6px */
      }
    }
  }

  .faq-item.active .faq-item__answer {
    padding: 16rem;
    padding-top: 0;
  }
}
